<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Клиенты</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
    <header>
        <ul class="header">
            <li><a href="clients.html">Клиенты</a></li>
            <li><a href="products.html">Товары</a></li>
            <li><a href="categories.html">Категории товаров</a></li>
            <li><a href="leases.html">Сдачи в ломбард</a></li>
            <li><a href="deals.html">Договоры</a></li>
        </ul>
    </header>

    <div class="scroll-table">
        <table id="tableHeader"> 
            <thead>
                <tr>
                    <td>Дата сдачи</td>
                    <td>Товар</td>
                    <td>Договор</td>
                </tr>
            </thead>
        </table>	
        <div class="scroll-table-body">
            <table id="tableBody">
                <tbody>

                </tbody>
            </table>
        </div>	
    </div>

    <form name = 'leaseForm' action="">
        <p id="leaseId">Сдача №</p>
        <div class="wrap">

            <input name='leaseDate' class='validate' type="date" placeholder="Дата сдачи" required>
            <select name='leaseProduct' class='validate' required></select>
            <select name='leaseDeal' class='validate' required></select>
        </div>

        <div class="buttons">
            <button type="button" onclick="insertLease()">Добавить</button>
            <button type="button" onclick="updateLease()">Обновить</button>
            <button type="button" onclick="deleteLease()">Удалить</button>
        </div>
    </form>
    <script src="../scripts/leases.js"></script>        

</body>
</html>